@model Monitorar_Tarefas.Models.Projetos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Projetos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProjeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeProjeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoProjeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoProjeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicioProjeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicioProjeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFinalizadoProjeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFinalizadoProjeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEntregaProjeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEntregaProjeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.NomeCategoria)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
