@model PaginatedList<Monitorar_Tarefas.Models.Projetos>

@{
    Layout = "~/Views/Shared/_LayoutLogado.cshtml";
    ViewData["Title"] = "Index";
}
<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <!-- DATA TABLE-->
            <div class="row table-responsive m-b-40">

                <!-- DATA TABLE-->
                <h2>Página de Projetos</h2>
                <hr />
                <br />

                @if (TempData["Salvar"] != null)
                {

                    <div class="sufee-alert alert with-close alert-success alert-dismissible fade show">
                        <span class="badge badge-pill badge-success">Sucesso!</span>
                        @TempData["Salvar"]
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                }

                @if (TempData["Editar"] != null)
                {
                    <div class="sufee-alert alert with-close alert-warning alert-dismissible fade show">
                        <span class="badge badge-pill badge-warning">Sucesso!</span>
                        @TempData["Editar"]
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                }

                @if (TempData["Deletar"] != null)
                {
                    <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                        <span class="badge badge-pill badge-danger">Sucesso!</span>
                        @TempData["Deletar"]
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                }

                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="statistic__item shadow p-3 mb-5">
                            <h2 class="number">0</h2>
                            <span class="desc">Pessoas online</span>
                            <div class="icon">
                                <i class="zmdi zmdi-account-o"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3">
                        <div class="statistic__item shadow p-3 mb-5">
                            <h2 class="number">0</h2>
                            <span class="desc">Projetos registrados</span>
                            <div class="icon">
                                <i class="zmdi zmdi-calendar-note"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <p>
                    <a class="btn btn-outline-primary" asp-action="Create">Adicionar Projeto</a>
                </p>

                <hr />

                <br />
                <h5>Informações dos projetos</h5>
                <br />

                <div class="row ">
                    <div class="card card-body shadow p-3 col-sm-10">
                        <form asp-action="Index" method="get">
                            <div class="col-md-6 col-lg-10">
                                <p>
                                    <text>Pesquisar por  Nome / Descrição :</text>
                                </p>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="SearchString" value="@ViewData["CurrentFilter"]" /> &nbsp;
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="submit" value="Buscar">Buscar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form asp-action="Index" method="get">
                            <div class="col-md-6 col-lg-8">
                                <p>
                                    <text>Filtrar por categorias :</text>
                                </p>
                                <div class="input-group">
                                    <select class="form-control" name="SearchString" value="@ViewData["CurrentFilter"]">
                                        &nbsp;
                                        <option value=" ">Selecione as opções</option>
                                        @foreach (var item in Model)
                                        {
                                            <option value="@item.Categoria.NomeCategoria">@item.Categoria.NomeCategoria</option>
                                        }
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="submit" value="Buscar">Buscar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <br />
                        <div class="col-md-6 col-lg-4">
                            <p>
                                <a class="btn btn-light" asp-action="Index">Carregar lista completa</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="table-responsive table-responsive-data2">

                    <table class="table table-borderless table-striped table-earning shadow p-3 mb-5">
                        <thead>

                            <tr>

                                <th>
                                    Nome do projeto
                                </th>
                                <th>
                                    Descrição do projeto
                                </th>
                                <th>
                                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Data Inicial</a>
                                </th>
                                <th>
                                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Data finalizado</a>
                                </th>
                                <th>
                                    Data da entrega
                                </th>
                                <th>
                                    Categoria
                                </th>
                                <th>
                                    <span class="fa  fa-ellipsis-v"></span>
                                    Ações
                                </th>

                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NomeProjeto)
                                </td>
                                <td>
                                    @Html.DisplayTextFor(modelItem => item.DescricaoProjeto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataInicioProjeto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataFinalizadoProjeto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataEntregaProjeto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Categoria.NomeCategoria)
                                </td>
                                <td>
                                    <span class="fa  fa-edit"></span>
                                    <a class="btn btn-light btn-sm" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                                    <span class="fa   fa-tasks"></span>
                                    <a class="btn btn-light btn-sm" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                                    <span class="fa fa-trash"></span>
                                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                                </td>
                            </tr>
                        }

                    </table>

                    @{
                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                    }
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-default @prevDisabled">
                        Retornar
                    </a>
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-default @nextDisabled">
                        Próximo
                    </a>

                </div>
                <br />
            </div>

            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright © 2020 - Monitorar Tarefas - todos os direitos reservados.</p>
                </div>
            </div>

        </div>
    </div>
</div>
