@model IEnumerable<Monitorar_Tarefas.Models.Projetos>

@{
    Layout = "~/Views/Shared/_LayoutLogado.cshtml";
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <!-- DATA TABLE-->
            <div class="row table-responsive m-b-40">

                <!-- DATA TABLE-->
                <h2>Projetos</h2>
                <hr />
                <br />

                @if (TempData["Salvar"] != null)
                {

                    <div class="sufee-alert alert with-close alert-success alert-dismissible fade show">
                        <span class="badge badge-pill badge-success">Sucesso!</span>
                        @TempData["Salvar"]
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                }

                @if (TempData["Editar"] != null)
                {
                    <div class="sufee-alert alert with-close alert-warning alert-dismissible fade show">
                        <span class="badge badge-pill badge-warning">Sucesso!</span>
                        @TempData["Editar"]
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                }

                @if (TempData["Deletar"] != null)
                {
                    <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                        <span class="badge badge-pill badge-danger">Sucesso!</span>
                        @TempData["Deletar"]
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                }

                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="statistic__item shadow p-3 mb-5">
                            <h2 class="number">0</h2>
                            <span class="desc">Pessoas online</span>
                            <div class="icon">
                                <i class="zmdi zmdi-account-o"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3">
                        <div class="statistic__item shadow p-3 mb-5">
                            <h2 class="number">0</h2>
                            <span class="desc">Projetos registradas</span>
                            <div class="icon">
                                <i class="zmdi zmdi-calendar-note"></i>
                            </div>
                        </div>
                    </div>

                </div>
                <p>
                    <a class="btn btn-outline-primary" asp-action="Create">Adicionar Projeto</a>
                </p>

                <hr />

                <br />
                <br />

                @using (Html.BeginForm("Index", "Informacaos", FormMethod.Get))
                {
                    <div class="row col-sm-12">
                        <div class="card card-body shadow p-3 mb-5">
                            <text>Pesquisar por  Nome / Descrição :</text>
                            <div class="input-group mb-3 col-sm-6">
                                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" }) &nbsp;
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="submit" value="Buscar">Buscar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                }

                <div class="table-responsive table-responsive-data2">

                    <table class="table table-borderless table-striped table-earning shadow p-3 mb-5">
                        <thead>

                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.NomeProjeto)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DescricaoProjeto)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DataInicioProjeto)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DataFinalizadoProjeto)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DataEntregaProjeto)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Categoria)
                                </th>
                                <th>
                                    <span class="fa  fa-ellipsis-v"></span>
                                    Ações
                                </th>

                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NomeProjeto)
                                </td>
                                <td>
                                    @Html.DisplayTextFor(modelItem => item.DescricaoProjeto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataInicioProjeto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataFinalizadoProjeto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataEntregaProjeto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Categoria.NomeCategoria)
                                </td>
                                <td>
                                    <span class="fa  fa-edit"></span>
                                    <a class="btn btn-light btn-sm" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                                    <span class="fa   fa-tasks"></span>
                                    <a class="btn btn-light btn-sm" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                                    <span class="fa fa-trash"></span>
                                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                                </td>
                            </tr>
                        }

                    </table>

                </div>


                <div class="col-md-12">
                    <div class="copyright">
                        <p>Copyright © 2020 - Monitorar Tarefas todos direitos reservados.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
