@model IEnumerable<Monitorar_Tarefas.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Categorias</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Nova categoria</a>
</p>
<table class="text-center table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCategoria)
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCategoria)
                </td>
                <td>
                    <a class="btn btn-outline-light" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-outline-light" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
