@model Monitorar_Tarefas.Models.Tarefas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tarefas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeTarefa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeTarefa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoTarefa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoTarefa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicioTarefa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicioTarefa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFinalizadoTarefa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFinalizadoTarefa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEntregaTarefa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEntregaTarefa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Situacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Projetos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Projetos.NomeProjeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuarios.NomeUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
