@model IEnumerable<Monitorar_Tarefas.Models.Tarefas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeTarefa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoTarefa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicioTarefa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFinalizadoTarefa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntregaTarefa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projetos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuarios)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeTarefa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoTarefa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicioTarefa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFinalizadoTarefa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEntregaTarefa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Situacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Projetos.DescricaoProjeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuarios.CPF)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
